/* Global styles */
html {
  font-size: 60%;
  scroll-behavior: smooth;
  background: linear-gradient(62deg, #3a3d40, #181719);
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

a:visited {
  text-decoration: none;
}

/* Navigation section */
nav {
  position: fixed;
  width: 100%;
  margin: 0;
  background: linear-gradient(62deg, rgb(241, 196, 255), rgb(228, 146, 253));
  text-align: right;
  padding: 1px;
  font-size: 20px;
  box-shadow: 0 2px 0 rgba(68, 66, 66, 0.4);
}

.nav-list a:hover {
  color: #000;
}

ul {
  margin: 20px;
}

li {
  display: inline;
  margin-left: 60px;
  color: black;
}

/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(62deg, #3a3d40, #181719); */
}

.welcome-section > h1 {
  text-align: center;
  font-weight: 600;
  color: rgb(241, 196, 255);
  font-size: 7rem;
}
.welcome-section > p {
  font-size: 3rem;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
}

/* Projects section */
.projects-section {
  text-align: center;
  padding: 10rem 2rem 0;
  /* background-color: #333333; */
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  min-height: 100vh;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Adjust the number of columns as needed */
  grid-gap: 30px; /* Adjust the gap between grid items as needed */
  margin-top: 50px;
}

.project-center {
  overflow: hidden; /* Ensure the image doesn't overflow the grid cell */
}

.projects-image {
  width: 80%; /* Ensure the image takes up the full width of the grid cell */
  height: 60%; /* Ensure the image takes up the full height of the grid cell */
  object-fit: cover; /* Maintain the image's aspect ratio and fill the grid cell */
  object-position: center; /* Center the image within the grid cell if necessary */
  border-radius: 20px;
  min-width: 250px;
}

.projects-section-header {
  color: aliceblue;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.project-title {
  color: aliceblue;
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 150px;
}

.code {
  color: #5a55a5;
  transition: color 0.3s ease-out;
}

.project-title:hover .code {
  color: rgb(241, 196, 255);
}

/* Contact section */

.contact-section {
  /* background: linear-gradient(62deg, rgb(0, 0, 0), rgb(39, 39, 39)); */
  text-align: center;
  width: 100%;
  min-height: 75vh;

  font-size: 2rem;
  font-weight: 200;
}

.contact-section-header {
  padding-top: 0;
  padding: 5%;
  font-size: xxx-large;
  margin-bottom: 15px;
  color: white;
}

.find-me {
  color: white;
  margin-bottom: 100px;
}

.links img {
  display: inline;
  width: 20%;
  aspect-ratio: 6/1;
  object-fit: contain;
}
